annotated-types==0.7.0
blis==1.0.1
cached-property==1.5.2
catalogue==2.0.10
certifi==2024.8.30
charset-normalizer==3.3.2
chevron==0.14.0
click==8.1.7
cloudpathlib==0.19.0
confection==0.1.5
cymem==2.0.8
et-xmlfile==1.1.0
ffmpeg==1.4
frozendict==2.4.4
genanki==0.13.1
idna==3.10
invoke==2.2.0
it_core_news_lg @ https://github.com/explosion/spacy-models/releases/download/it_core_news_lg-3.8.0/it_core_news_lg-3.8.0-py3-none-any.whl#sha256=b78582d0b2d05fd6509995f68ab7452efed7a27c6fbc5a071e9a9787a58c1e87
Jinja2==3.1.4
langcodes==3.4.1
language_data==1.2.0
marisa-trie==1.2.0
markdown-it-py==3.0.0
MarkupSafe==3.0.0
mdurl==0.1.2
murmurhash==1.0.10
numpy==2.0.2
openpyxl==3.1.5
packaging==24.1
pandas==2.2.3
preshed==3.0.9
pydantic==2.9.2
pydantic_core==2.23.4
pydecima==1.0.1
pydub==0.25.1
Pygments==2.18.0
python-dateutil==2.9.0.post0
pytz==2024.2
PyYAML==6.0.2
requests==2.32.3
rich==13.9.2
setuptools==75.1.0
shellingham==1.5.4
six==1.16.0
smart-open==7.0.5
spacy==3.8.2
spacy-legacy==3.0.12
spacy-loggers==1.0.5
srsly==2.4.8
thinc==8.3.2
tqdm==4.66.5
typer==0.12.5
typing_extensions==4.12.2
tzdata==2024.2
urllib3==2.2.3
wasabi==1.1.3
weasel==0.4.1
wrapt==1.16.0
